.table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f8f8f8;
}

.thead {
    background-color: black;
    color: white;
}

.thead th {
    padding: 10px;
    text-align: center;
}

tbody tr {
    transition: background-color 0.2s;
}

.tbodyRow {
    background-color: white;
}

.tbodyRow:nth-child(even) {
    background-color: gainsboro;
}

td {
    text-align: center;
    border: 2px solid black;
}


